In [188]:
import pandas as pd
import numpy as np
import re

# Reading Data

- ## Pfam keyword search data

In [189]:
# Pfam proteins associated with nucleus terms and membrane terms in keyword search
df_pfam_locations = pd.read_csv('../input/pfam_nucleus_membrane_data.csv')

In [190]:
# The searched terms
nucleus_terms = ['chromossome', 'chromatin', 'nucleus']
membrane_terms = ['membrane', 'cytoplasm', 'cytoskeleton', 'cytosol']

# Add variable to identify if is a nucleus or membrane term
df_pfam_locations['flag_nucleus'] = np.where(df_pfam_locations['keyword'].isin(nucleus_terms), 1, 0)
df_pfam_locations['flag_membrane'] = np.where(df_pfam_locations['keyword'].isin(membrane_terms), 1, 0)
df_pfam_locations.shape

(2888, 6)

In [191]:
# The Pfam keyword search find the same accession in different terms
# so I will group these values
df_pfam_locations = df_pfam_locations.groupby('accession')[['flag_nucleus', 'flag_membrane']].max().reset_index()
df_pfam_locations.head(3)

  accession  flag_nucleus  flag_membrane
0   PF00001             0              1
1   PF00002             0              1
2   PF00003             0              1

In [192]:
df_pfam_locations.accession.unique().shape

(2574,)

- ## Pfam HMM Output

In [199]:
df_hmm = pd.read_csv('../output/df_t_cruzi_hmm.csv', low_memory=False)
df_hmm.shape

(61583, 19)

In [200]:
df_hmm.head(3)

,target_name,accession,query_name,remove,e_value,score,bias,e_value2,score_2,bias_2,exp,reg,clu,ov,env,dom,rep,inc,description_of_target
0,Hus1,PF04005.12,TcCLB.505051.20,-,4.7e-75,252.4,0.0,5.3e-75,252.2,0.0,1.0,1,0,0,1,1,1,1,Hus1-like protein
1,BNR_3,PF13859.6,TcCLB.504593.10,-,2.9e-54,184.5,0.3,2.9e-54,184.5,0.3,2.8,3,1,0,3,3,3,1,BNR repeat-like domain
2,Tr-sialidase_C,PF11052.8,TcCLB.504593.10,-,9.5e-08,32.0,5.5,1.9e-07,31.1,5.5,1.5,1,0,0,1,1,1,1,Trans-sialidase of Trypanosoma hydrophobic C-t...

In [195]:
df_hmm.accession.unique().shape

(7690,)

In [204]:
# Remove any character after dot in accession ('.')
df_hmm.accession = df_hmm.accession.apply(lambda x: re.sub(r'\..*', '', x.strip()))
# Strip whitespace from target, query name and score
df_hmm.target_name = df_hmm.target_name.apply(lambda x: x.strip())
df_hmm.query_name = df_hmm.query_name.apply(lambda x: x.strip())
df_hmm.head(2)

,target_name,accession,query_name,remove,e_value,score,bias,e_value2,score_2,bias_2,exp,reg,clu,ov,env,dom,rep,inc,description_of_target
0,Hus1,PF04005,TcCLB.505051.20,-,4.7e-75,252.4,0.0,5.3e-75,252.2,0.0,1.0,1,0,0,1,1,1,1,Hus1-like protein
1,BNR_3,PF13859,TcCLB.504593.10,-,2.9e-54,184.5,0.3,2.9e-54,184.5,0.3,2.8,3,1,0,3,3,3,1,BNR repeat-like domain

In [205]:
print("Unique target_name: " + str(len(df_hmm.target_name.unique())))
print("Unique accession: " + str(len(df_hmm.accession.unique())))
print("Unique query_name: " + str(len(df_hmm.query_name.unique())))
print("Unique query_name + accession: " + str(len((df_hmm.query_name + df_hmm.accession).unique())))

Unique target_name: 7690
Unique accession: 7690
Unique query_name: 17544
Unique query_name + accession: 61583

- ## Swissprot blast data

In [206]:
df_swissprot = pd.read_csv('../output/df_swiss_prot_t_cruzi.csv')
df_swissprot.drop('Unnamed: 0', axis=1, inplace=True)
df_swissprot.shape

(103, 4)

In [207]:
# Transforming variables
df_swissprot['accession_2'] = df_swissprot.iteration_query_def.str.split('|', expand=True).iloc[:,1]
df_swissprot['query_name'] = df_swissprot.query_id.str.split('|', expand=True).iloc[:,0]
df_swissprot['query_name'] = df_swissprot.query_name.apply(lambda x: str(x).strip())
df_swissprot.head(3)

,iteration_query_def,aln_length,flag_hit,query_id,accession_2,query_name
0,sp|Q9GT49|TRYS_TRYCC Trypanothione synthetase ...,647,1,TcCLB.509319.90 | organism=Trypanosoma_cruzi_C...,Q9GT49,TcCLB.509319.90
1,sp|P28593|TYTR_TRYCR Trypanothione reductase O...,492,1,TcCLB.503555.30 | organism=Trypanosoma_cruzi_C...,P28593,TcCLB.503555.30
2,sp|Q9U6Z1|KM11_TRYCR Kinetoplastid membrane pr...,92,1,TcCLB.510755.89 | organism=Trypanosoma_cruzi_C...,Q9U6Z1,TcCLB.510755.89

In [208]:
print("Unique accession_2: " + str(len(df_swissprot.accession_2.unique())))
print("Unique query_name: " + str(len(df_swissprot.query_name.unique())))

Unique accession_2: 103
Unique query_name: 94

In [209]:
df_swissprot.flag_hit.value_counts()

1     92
0      8
10     1
6      1
2      1
Name: flag_hit, dtype: int64

In [210]:
df_swissprot = df_swissprot[df_swissprot.query_name!='nan']

# Join Data

- ## Pfam (hmm) and Swissprot

In [211]:
df_train = df_swissprot[['query_name', 'accession_2']].merge(df_hmm[['accession', 'query_name', 'score']], how='left')

df_train.shape

(418, 4)

- ## Pfam keyword search data

In [212]:
len(set(df_hmm.accession))

7690

In [213]:
len(set(df_pfam_locations.accession))

2574

In [214]:
2574-1232

1342

In [215]:
len(set(df_pfam_locations.accession).intersection(set(df_hmm.accession)))

1232

In [216]:
df_train = df_train.merge(df_pfam_locations, how='left')

In [236]:
df_train['score_nucleus'] = np.where(df_train.flag_nucleus.isna(), df_train.score, df_train.flag_nucleus*df_train.score)
df_train['score_membrane'] = np.where(df_train.flag_membrane.isna(), df_train.score, df_train.flag_membrane*df_train.score)

In [242]:
df_train = df_train.groupby('accession_2')[['score_nucleus', 'score_membrane']].sum().reset_index()

In [247]:
df_train

   accession_2  score_nucleus  score_membrane
0       O00822           98.0            98.0
1       O15885          245.0           245.0
2       O15886          128.2           128.2
3       O76240          297.3           297.3
4       O96507          396.0           396.0
5       O96876          215.1           215.1
6       P05456          941.1          1003.0
7       P06660          892.0           905.1
8       P07749          197.8           197.8
9       P08562          195.7           409.9
10      P0CH27         2346.5          2374.6
11      P14795         1357.4          1378.2
12      P18061          975.1          1031.6
13      P18269          328.6           328.6
14      P18270          189.8           189.8
15      P18271          311.2           311.2
16      P20583          945.0           999.4
17      P22513          317.7           317.7
18      P23253          388.1           388.1
19      P23632           76.7            76.7
20      P25779          356.4           356.4
21      P26643           90.1            90.1
22      P26795           73.7            73.7
23      P26796          181.8           181.8
24      P27795           95.9            95.9
25      P28593          547.0           563.3
26      P30190          548.8           548.8
27      P33447          351.9           351.9
28      P34715          347.0           347.0
29      P34827          134.0           151.0
..         ...            ...             ...
65      Q4DER6           19.4            75.1
66      Q4DHA1           94.4           486.6
67      Q4DJ07          207.7           207.7
68      Q4DKF7          370.5           382.6
69      Q4DKQ5          288.4           288.4
70      Q4DLT6          302.2           302.2
71      Q4DLX3           43.5           255.2
72      Q4DLX9          388.5           388.5
73      Q4DPN8          185.8           198.4
74      Q4DRX4          183.2           183.2
75      Q4DTX9          200.6           200.6
76      Q4DW94           67.5            67.5
77      Q4DYL7           73.3            73.3
78      Q4DZ41          247.8           247.8
79      Q4DZ91          369.5           380.9
80      Q4DZP2          285.6           272.9
81      Q4E097          276.8           276.8
82      Q4E123          103.7           103.7
83      Q4E162          164.1           304.4
84      Q4E4I4           80.1            80.1
85      Q4E657          242.2           242.2
86      Q6JZK2           78.8            78.8
87      Q7Z1V1            0.0           245.0
88      Q868H8          472.3           472.3
89      Q94776          126.3           126.3
90      Q95046          282.0           282.0
91      Q966X9          102.2           102.2
92      Q9GT49          294.5           294.5
93      Q9U6Z1          180.5           381.7
94      Q9XYP3          276.8           276.8

[95 rows x 3 columns]

### There are duplicated query_name on swissprot data

In [29]:
# Query names duplicados no swissprot
df_swissprot.query_name.value_counts()[df_swissprot.query_name.value_counts()>1]

nan                8
TcCLB.506795.80    2
TcCLB.506679.70    2
Name: query_name, dtype: int64

- Searching these query_name

In [30]:
df_join_inner[df_join_inner.query_name=="TcCLB.506679.70"]

,query_name,accession_2,target_name,accession,remove,e_value,score,bias,e_value2,score_2,bias_2,exp,reg,clu,ov,env,dom,rep,inc,description_of_target
319,TcCLB.506679.70,Q4E097,eIF-6,PF01912,-,1.7e-78,262.6,0.3,2.6e-78,261.9,0.3,1.3,1,0,0,1,1,1,1,eIF-6 family
320,TcCLB.506679.70,Q4E097,2_5_RNA_ligase2,PF13563,-,0.03,14.2,0.0,0.095,12.6,0.0,1.9,2,1,0,2,2,2,0,2'-5' RNA ligase superfamily
321,TcCLB.506679.70,Q9XYP3,eIF-6,PF01912,-,1.7e-78,262.6,0.3,2.6e-78,261.9,0.3,1.3,1,0,0,1,1,1,1,eIF-6 family
322,TcCLB.506679.70,Q9XYP3,2_5_RNA_ligase2,PF13563,-,0.03,14.2,0.0,0.095,12.6,0.0,1.9,2,1,0,2,2,2,0,2'-5' RNA ligase superfamily

Links para análises:
- Uniprot Q4E097: https://www.uniprot.org/uniprot/Q4E097
    - Faz referência para: http://pfam.xfam.org/protein/Q4E097 e http://pfam.xfam.org/family/PF01912
    
- Uniprot Q9XYP3: https://www.uniprot.org/uniprot/Q9XYP3
    - Faz referência para: http://pfam.xfam.org/protein/Q9XYP3 e http://pfam.xfam.org/family/PF01912
    
___
    
- Pfam PF01912: https://pfam.xfam.org/family/PF01912
- Pfam PF13563: https://pfam.xfam.org/family/2_5_RNA_ligase2

In [31]:
df_join_inner[df_join_inner.query_name=="TcCLB.506795.80"]

,query_name,accession_2,target_name,accession,remove,e_value,score,bias,e_value2,score_2,bias_2,exp,reg,clu,ov,env,dom,rep,inc,description_of_target
93,TcCLB.506795.80,Q4DA80,Pro_racemase,PF05544,-,2.5e-137,457.3,0.1 2,.9e-137,457.1,0.1,1.0,1,0,0,1,1,1,1,Proline racemase
94,TcCLB.506795.80,Q4DA80,PhzC-PhzF,PF02567,-,0.013,15.0,0.0,0.026,14.0,0.0,1.4,1,0,0,1,1,1,0,Phenazine biosynthesis-like protein
95,TcCLB.506795.80,Q868H8,Pro_racemase,PF05544,-,2.5e-137,457.3,0.1 2,.9e-137,457.1,0.1,1.0,1,0,0,1,1,1,1,Proline racemase
96,TcCLB.506795.80,Q868H8,PhzC-PhzF,PF02567,-,0.013,15.0,0.0,0.026,14.0,0.0,1.4,1,0,0,1,1,1,0,Phenazine biosynthesis-like protein

Links para análises:
- Uniprot Q4DA80: https://www.uniprot.org/uniprot/Q4DA80
    - Faz referência para: http://pfam.xfam.org/protein/Q4DA80 e http://pfam.xfam.org/family/PF05544
    
- Uniprot Q868H8: https://www.uniprot.org/uniprot/Q868H8
    - Faz referência para: http://pfam.xfam.org/protein/Q868H8 e http://pfam.xfam.org/family/PF05544
    
___
    
- Pfam PF02567: http://pfam.xfam.org/family/PhzC-PhzF
- Pfam PF05544: https://pfam.xfam.org/family/Pro_racemase

In [32]:
# 
df_join_inner[df_join_inner.accession_2=='P28593']

,query_name,accession_2,target_name,accession,remove,e_value,score,bias,e_value2,score_2,bias_2,exp,reg,clu,ov,env,dom,rep,inc,description_of_target
2,TcCLB.503555.30,P28593,Pyr_redox_2,PF07992,-,6.5e-61,206.1,0.0,8.2e-61,205.8,0.0,1.1,1,0,0,1,1,1,1,Pyridine nucleotide-disulphide oxidoreductase
3,TcCLB.503555.30,P28593,Pyr_redox,PF00070,-,4.9e-23,81.5,1.1,1.5e-19,70.4,0.0,2.7,2,0,0,2,2,2,2,Pyridine nucleotide-disulphide oxidoreductase
4,TcCLB.503555.30,P28593,Pyr_redox_dim,PF02852,-,1.5e-21,76.7,0.0,3.7e-21,75.5,0.0,1.7,1,0,0,1,1,1,1,"Pyridine nucleotide-disulphide oxidoreductase,..."
5,TcCLB.503555.30,P28593,Pyr_redox_3,PF13738,-,1.8e-11,43.8,0.2,9.9e-09,34.9,0.0,2.2,2,0,0,2,2,2,2,Pyridine nucleotide-disulphide oxidoreductase
6,TcCLB.503555.30,P28593,FAD_binding_2,PF00890,-,9.1e-07,28.3,2.0,0.0041,16.3,0.7,2.5,3,0,0,3,3,3,2,FAD binding domain
7,TcCLB.503555.30,P28593,HI0933_like,PF03486,-,3.3e-05,22.8,0.3,0.015,14.0,0.1,2.5,2,0,0,2,2,2,2,HI0933-like protein
8,TcCLB.503555.30,P28593,GIDA,PF01134,-,0.0014,17.8,1.3,0.0019,17.4,0.3,1.7,2,0,0,2,2,2,1,Glucose inhibited division protein A
9,TcCLB.503555.30,P28593,Lycopene_cycl,PF05834,-,0.004,16.3,0.1,0.52,9.3,0.0,2.2,2,0,0,2,2,2,2,Lycopene cyclase protein
10,TcCLB.503555.30,P28593,FAD_oxidored,PF12831,-,0.013,14.9,0.0,0.21,10.9,0.0,2.1,2,0,0,2,2,2,0,FAD dependent oxidoreductase
11,TcCLB.503555.30,P28593,Thi4,PF01946,-,0.015,14.6,0.1,0.027,13.7,0.1,1.4,1,0,0,1,1,1,0,Thi4 family
12,TcCLB.503555.30,P28593,DAO,PF01266,-,0.019,14.5,0.4,0.53,9.8,0.6,2.3,1,1,1,2,2,2,0,FAD dependent oxidoreductase
13,TcCLB.503555.30,P28593,AlaDh_PNT_C,PF01262,-,0.021,14.1,0.1,0.06,12.6,0.0,1.8,2,0,0,2,2,2,0,"Alanine dehydrogenase/PNT, C-terminal domain"
14,TcCLB.503555.30,P28593,NAD_binding_8,PF13450,-,0.19,11.9,0.3,0.44,10.8,0.3,1.6,1,0,0,1,1,1,0,NAD(P)-binding Rossmann-like domain

- Fazer um crawler?

In [156]:
col_names = ['target_name','accession','query_name','remove','e_value','score',
            'bias','e_value2','score_2','bias_2','exp','reg','clu','ov','env','dom',
            'rep','inc','description_of_target']


df = pd.DataFrame(columns=col_names)
lines = [line.rstrip('\n') for line in open('../output/output-file-tbl')]

In [157]:
len(lines)

61596

In [158]:
i=0

In [159]:
[lines[i+3][:21],lines[i+3][21:32],lines[i+3][32:51],lines[i+3][51:65],
                 lines[i+3][65:75],lines[i+3][75:80],lines[i+3][80:89],lines[i+3][89:98],
                 lines[i+3][98:105],lines[i+3][105:112],lines[i+3][112:118],lines[i+3][118:122],
                 lines[i+3][122:126],lines[i+3][126:130],lines[i+3][130:134],lines[i+3][134:138],
                 lines[i+3][138:142],lines[i+3][142:144],lines[i+3][-(len(lines[i+3])-144):]]

['Hus1                 ',
 'PF04005.12 ',
 'TcCLB.505051.20    ',
 '  -           ',
 ' 4.7e-75  ',
 '252.4',
 '   0.0   ',
 '5.3e-75  ',
 '252.2  ',
 ' 0.0   ',
 '1.0   ',
 '1   ',
 '0   ',
 '0   ',
 '1   ',
 '1   ',
 '1   ',
 '1 ',
 'Hus1-like protein']

In [160]:
for i in range(len(lines)-13):
    lines

In [162]:
import pandas as pd

wd = '/home/cirofdo/Documents/Multiresolution-nuclear-protein-classifier/'

col_names = ['target_name','accession','query_name','remove','e_value','score',
            'bias','e_value2','score_2','bias_2','exp','reg','clu','ov','env','dom',
            'rep','inc','description_of_target']


df = pd.DataFrame(columns=col_names)
lines = [line.rstrip('\n') for line in open('../output/output-file-tbl')]

j=0
for i in range(len(lines)-13):
    df.loc[i] = [lines[i+3][:21],lines[i+3][21:32],lines[i+3][32:51],lines[i+3][51:65],
                 lines[i+3][65:75],lines[i+3][75:80],lines[i+3][80:89],lines[i+3][89:98],
                 lines[i+3][98:105],lines[i+3][105:112],lines[i+3][112:118],lines[i+3][118:122],
                 lines[i+3][122:126],lines[i+3][126:130],lines[i+3][130:134],lines[i+3][134:138],
                 lines[i+3][138:142],lines[i+3][142:144],lines[i+3][-(len(lines[i+3])-144):]]
    j = j +1
    if j==5000:
        print(i)
        j=0

df.to_csv('../output/df_t_cruzi_hmm.csv', index=False)

4999
9999
14999
19999
24999

KeyboardInterrupt:

In [ ]:
df

In [ ]:
df_hmm